
PS4/documents/Murphy Rossi.pdf
PS6/documents/CallawaySantAnna(2020).pdf
PS6/documents/Chaisemartin and D'Haultfoeuille (2020).pdf
PS6/documents/Cheng_Hoekstra.pdf
PS7/documents/angrist2009.pdf
PS8/documents/Freire.pdf
PS8/homicides-sp-synth-master/.DS_Store
PS8/homicides-sp-synth-master/_config.yml
PS8/homicides-sp-synth-master/manuscript/homicides-sp-synth-manuscript.pdf
PS8/input/f6/resout1.dta
PS8/input/f6/resout10.dta
PS8/input/f6/resout11.dta
PS8/input/f6/resout12.dta
PS8/input/f6/resout13.dta
PS8/input/f6/resout14.dta
PS8/input/f6/resout15.dta
PS8/input/f6/resout16.dta
PS8/input/f6/resout17.dta
PS8/input/f6/resout18.dta
PS8/input/f6/resout19.dta
PS8/input/f6/resout2.dta
PS8/input/f6/resout20.dta
PS8/input/f6/resout21.dta
PS8/input/f6/resout22.dta
PS8/input/f6/resout23.dta
PS8/input/f6/resout24.dta
PS8/input/f6/resout25.dta
PS8/input/f6/resout26.dta
PS8/input/f6/resout27.dta
PS8/input/f6/resout28.dta
PS8/input/f6/resout3.dta
PS8/input/f6/resout4.dta
PS8/input/f6/resout5.dta
PS8/input/f6/resout6.dta
PS8/input/f6/resout7.dta
PS8/input/f6/resout8.dta
PS8/input/f6/resout9.dta
PS8/input/f7/resout1.dta
PS8/input/f7/resout10.dta
PS8/input/f7/resout11.dta
PS8/input/f7/resout12.dta
PS8/input/f7/resout13.dta
PS8/input/f7/resout14.dta
PS8/input/f7/resout2.dta
PS8/input/f7/resout3.dta
PS8/input/f7/resout4.dta
PS8/input/f7/resout5.dta
PS8/input/f7/resout6.dta
PS8/input/f7/resout7.dta
PS8/input/f7/resout8.dta
PS8/input/f7/resout9.dta
PS8/input/loo/loo-resout1.dta
PS8/input/loo/loo-resout10.dta
PS8/input/loo/loo-resout11.dta
PS8/input/loo/loo-resout12.dta
PS8/input/loo/loo-resout13.dta
PS8/input/loo/loo-resout14.dta
PS8/input/loo/loo-resout15.dta
PS8/input/loo/loo-resout16.dta
PS8/input/loo/loo-resout17.dta
PS8/input/loo/loo-resout18.dta
PS8/input/loo/loo-resout19.dta
PS8/input/loo/loo-resout2.dta
PS8/input/loo/loo-resout20.dta
PS8/input/loo/loo-resout21.dta
PS8/input/loo/loo-resout22.dta
PS8/input/loo/loo-resout23.dta
PS8/input/loo/loo-resout24.dta
PS8/input/loo/loo-resout25.dta
PS8/input/loo/loo-resout26.dta
PS8/input/loo/loo-resout27.dta
PS8/input/loo/loo-resout28.dta
PS8/input/loo/loo-resout3.dta
PS8/input/loo/loo-resout4.dta
PS8/input/loo/loo-resout5.dta
PS8/input/loo/loo-resout6.dta
PS8/input/loo/loo-resout7.dta
PS8/input/loo/loo-resout8.dta
PS8/input/loo/loo-resout9.dta
